@import "../../vendor/wire-elements/pro/resources/css/tailwind/overlay-component.css";
@import "./../../vendor/power-components/livewire-powergrid/dist/powergrid.css";
@import "../../vendor/wire-elements/pro/resources/css/tailwind/spotlight-component.css";
@import "../../node_modules/flowbite-datepicker/tailwind.css";
@import "../../node_modules/sweetalert2/dist/sweetalert2.css";
@import "./components/index.css";
@import "css-tables.css";
@import "company-profile.css";
@import "company-report.css";
@import "flowbite-select-custom.css";
@import "common-styles.css";
@import "navigation_subtabs.css";
@import "loader.css";
@import "loaders.css";
@import '../../node_modules/@uvarov.frontend/vanilla-calendar/build/vanilla-calendar.min.css';
@import '../../node_modules/@uvarov.frontend/vanilla-calendar/build/themes/light.min.css';
@import 'calendar.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-dash-break {
    word-break: keep-all;
  }
/* active inner tab */

.innertab-active ::after {
    content: ' ';
    width: 120%;
    border: 2px solid #13B05B;
    display: flex;
    margin-top: 4px;
    margin-left: -11px;
}

.change-select-chevron {
    background-image: url("../img/svg/chevron-down-with-circle.svg") !important;
    background-size: 1.125rem 1.125rem !important;
    background: none;
    border-radius: 0;
    border: none;
    font-size: 0.8125rem;
    outline: none;
  }

/* make more fancy scollbar */

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
}

/* ownership breadcrumb border */
.ownership-active-bread-link {
    position: relative;
    text-align: center;
}

.ownership-active-bread-link::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 2px;
    background-color: #3561e7;
}
/* ownership breadcrumb border */

.nav-collapsed #default-sidebar .tag-collapsed {
    display: none !important;
}
.nav-collapsed #default-sidebar [role="tooltip"] {
    display: block !important;
}

.tooltip-caret:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: solid 17px #fff;
    border-left: solid 12px transparent;
    border-right: solid 12px transparent;
    border-bottom-right-radius: 50px;
    left: calc(50% - 12px);
    bottom: -17px;
}

.wait-list {
    font-family: IBM Plex Sans, Arial;
    color: #121a0f;
}

.wait-list-button-text {
    color: #52d3a2;
}

input {
    @apply text-base;
}

.bussiness-information-content p {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 28px;
    margin: 0 !important;
    margin-bottom: 16px !important;
    padding: 0 !important;
}
.bussiness-information-content .subtitle {
    font-size: 16px !important;
    line-height: 19px;
    color: #3561E7;
    margin-bottom: 16px !important;
    font-weight: 500 !important;
    line-height: normal;

}
.bussiness-information-content .title {
    font-size: 24px !important;
    color: #121A0F;
    margin-bottom: 24px !important;
    font-weight: 600 !important;
}
.bussiness-information-content .text-info {
    font-size: 14px;
    line-height: 22px;
    color: #121A0F;
    margin-bottom: 15px;
}
.white-card-nav {
    font-size: 0.5em;
    padding: 1.4em 2em;
    background: white;
    border-radius: 0.666em;
}
.tabs-wrapper {
    margin: 24px 0;
}
.page-titles {
    font-size: 24px;
    line-height: 31px;
}
.page-titles .brr {
    display: block;
    margin-top: 0.3rem;
}
.table-wrapper .cell:first-child {
    padding-left: 22px;
}
.white-card a,a {
    cursor: pointer;
}
.tabs-wrapper .tab {
    max-width: 270px;
    width: 100%;
    font-weight: 600;
    border-radius: 4px;
}
.graph-wrapper [type="radio"]:checked,
.graph-wrapper [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.graph-wrapper [type="radio"]:checked + label
{
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    line-height: 16px;
    display: inline-block;
    color: #000;
    font-size: 12px;
}
.graph-wrapper [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    line-height: 16px;
    display: inline-block;
    color: #828C85;
    font-size: 12px;
}
.graph-wrapper [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #828C85;
    border-radius: 100%;
    background: #fff;
}
.graph-wrapper [type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #000;
    border-radius: 100%;
    background: #fff;
}
.flex-col-border-less {
    border: none !important;
}
.graph-wrapper [type="radio"]:checked + label:after,
.graph-wrapper [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 6px;
    height: 6px;
    background: #000;
    color: #000;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    border: 2px solid #000;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.show-hide-chart-btn {
    width: 148px;
height: 32px;
border-radius: 0px 8px 2px 2px;
background: rgba(82, 211, 162, 0.20);
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 16px;
color: #121A0F;
position: relative;
}
.show-hide-chart-btn svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    font-size: 16px;
    color: #121A0F;
}
.graph-wrapper [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.graph-wrapper [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.absolute-top-70 {
    position: absolute;
    top: 70px !important;
    right: 0;
}
.b-info-card .title_small {
    font-size: 14px;
    font-weight: 500;
}
.c-profile-card .title_small{
    font-size: 14px;
    font-weight: 500;
}
.b-info-card .text-info {
    font-size: 0.8rem;
    font-weight: 400;
}
.table-border-bottom .cell {
    border-top:none;
    border-bottom: 1px solid #e6e6e6 !important;
    border-collapse: collapse;
}

.table-header-border .cell {
    border-top:none;
    border-bottom: 1px solid #e6e6e6 !important;
    border-collapse: collapse;
}
.table-header-border .row-sub > .cell {
    border-top:none;
    border-bottom:none !important;;
    border-collapse: collapse;
}
.blue-table-card {
    display: table;
    max-width: 100%;
    padding: 10px;
    background: #fff;
    border-radius: 0.66em;
    position: relative;
}
.c-profile-card .key {
    font-weight: 400;
    font-size: .8rem;
    line-height: 1;
}
.c-profile-card .value {
    font-size: 0.8rem;
    font-weight: 500;
}
.c-profile-card .title a {
    color: #121A0F;
    font-size: 0.8rem;
    font-weight: 600;
}
.b-info-card, .c-profile-card {
    margin-top: 24px !important;
}
.table-bottom-sec {
    display: block;
    width: 100%;
    padding: 8px;
    background: #fff;
    border-radius: 4px;
}
.table-bottom-sec .table-wrapper{
    margin-top: 0 !important;
    border-radius: 4px;
}
.custom-drop-down-button {
    width: 24px;
    height: 24px;
    border: 2px solid #121A0F;
    color: #121A0F;
    position: relative;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: all 0.43s ease-in-out;

}
.custom-drop-down-button-lg {
    min-width: 94px;
    padding: 8px;
    border-radius: 4px !important;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    border: 1.34px solid #ECE9F1;
    height:32px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.custom-drop-down-button:focus svg{
    transition: display 0.43s ease-in-out;
}
.custom-drop-down-button svg {
    transition: display 0.43s ease-in-out;
}
.main-graph-wrapper {
    position: relative;
}

.custom-dropdown-absolute-wrapper {
    position: absolute;
    z-index: 55;
    top:49px;
    right: 24px;
    z-index: 55;
}
.main-graph-rev .custom-dropdown-absolute-wrapper {
    top: 20px;
}
.graph-wrapper-rev {
    padding-right: 100px;
}
.custom-drop-down {
    width: 208px;
    border-radius: 8px;
    border: 1px solid #E9F5F1;
    box-shadow: 0px 4px 8px 0px #00000814;
    padding: 16px 0px;
    top: 25px;

}
.custom-drop-down .links-wrapper {
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.custom-drop-down .menu_link {
    color: #121A0F;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    padding: 8px;
    border-radius: 4px;

    display: flex;
    align-items: center;
    gap: 10px;
}
.custom-drop-down hr {
    border-bottom: 1px solid #E9F5F1 !important;
    height: 1px;
    background: #E9F5F1 !important;
}
.custom-drop-down .menu_link svg {
    width: 16px;
    height: 16px;
}

.chart-company-report {
    max-height: 350px !important;
    display: block !important;
    height: 350px !important;
    width: 100% !important;
}

.custom-text-xs .text-xs {
    font-size: 12px;
}
.custom-text-xs .flowbite-select {
    border: 0.5px solid rgba(147, 149, 152, 0.50);

background: #FFF;
display: flex;
justify-content: center;
align-items: center;
gap: 4px;
}
.revenue-tab {
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 2px;
border-bottom: 1px solid #E4E4E4;

background: #F2F2F2;
margin-bottom: 22px;
height: 40px;
}
.revenue-tab li {
    cursor: pointer;
    min-width: 267px;
    color: #828C85 !important;
text-align: center;
height: 40px;
font-size: 14px;
font-style: normal;
border-bottom: 1.67px solid transparent;
display: flex;
justify-content: center;
align-items: center;
font-weight: 400;
line-height: normal;
}
.revenue-tab li.active{
    border-bottom: 1.67px solid #13B05B;
     color: #121A0F !important;
     font-weight: 600;
}
#rbprange-slider-company-analysis {
    max-width: 100% !important;
}
#rbgrange-slider-company-analysis {
    max-width: 100% !important;
}
#rberange-slider-company-analysis {
    max-width: 100% !important;
}
div#range-slider-company-analysis-geography {
    max-width: 100% !important;
}
.graph-header-flex {
    justify-content: space-between;
}
.custom_checkbox {
    display: flex;
    align-items: center;
    gap: 6px;
}
.custom_radio_wrapper {
    gap: 24px;
    align-items: center;
}
.custom_checkbox span {
    color: #828C85;

font-family: Inter;
font-size: 12px !important;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.graph-wrapper .graph-header .revenue-title {
    color: #121A0F;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
margin-bottom: 6px;
}

.graph-wrapper .graph-header .revenue-subtitle {
    color: #3561E7;

font-family: Inter;
font-size: 14px !important;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.row-border-custom div:nth-child(4) .cell:first-child{
    border-bottom-left-radius: 4px;

}
.row-border-custom div:nth-child(4) .cell:last-child{
    border-bottom-right-radius: 4px;

}
.row-border-custom div:nth-child(6) .cell:first-child{
    border-top-left-radius: 4px;

}
.row-border-custom div:nth-child(6) .cell:last-child{
    border-top-right-radius: 4px;

}
.row-border-custom div:nth-child(8) .cell:first-child{
    border-bottom-left-radius: 4px;

}
.row-border-custom div:nth-child(8) .cell:last-child{
    border-bottom-right-radius: 4px;

}
.row-border-custom div:nth-child(10) .cell:first-child{
    border-top-left-radius: 4px;

}
.row-border-custom div:nth-child(10) .cell:last-child{
    border-top-right-radius: 4px;

}
.row-border-custom div:nth-child(12) .cell:first-child{
    border-bottom-left-radius: 4px;

}
.row-border-custom div:nth-child(12) .cell:last-child{
    border-bottom-right-radius: 4px;

}
.row-border-custom div:nth-child(14) .cell:first-child{
    border-top-left-radius: 4px;

}
.ml_4 {
    margin-left: 21px !important;
}
.row-border-custom div:nth-child(14) .cell:last-child{
    border-top-right-radius: 4px;

}
.row-border-custom div:nth-child(15) .cell:first-child{
    border-bottom-left-radius: 4px;

}
.row-border-custom div:nth-child(15) .cell:last-child{
    border-bottom-right-radius: 4px;

}
.bg-gray-custom-light {
    background-color: #e5e5e5;
}
.row-border-custom div:nth-child(17) .cell:first-child{
    border-top-left-radius: 4px;

}
.row-border-custom div:nth-child(17) .cell:last-child{
    border-top-right-radius: 4px;

}
.row-border-custom div:nth-child(19) .cell:first-child{
    border-bottom-left-radius: 4px;
}
.row-border-custom div:nth-child(19) .cell:last-child{
    border-bottom-right-radius: 4px;
}
.row-border-custom div:nth-child(23) .cell:last-child {
    border-bottom-right-radius: 4px !important;
}
.row-border-custom div:nth-child(23) .cell:first-child {
    border-bottom-left-radius: 4px !important;
}
.bg-gray-custom {
    background-color: #929292;
}
.min-64 {
    min-width: 16rem;
    width: 16rem;
}
@media(min-width:576px){
    .mobile-show {
        display: none;
    }
    .desktop-show {
        display: flex;
    }
}
@media(max-width:576px){

    .title__header .title {
        font-size: 20px !important;
        line-height: 24px;
        font-weight: 600;
        color: #121A0F;
    }
    .tab {
        min-width: 10rem;
    }
    .mobile-show {
        display: block;
    }
    .desktop-show {
        display: none;
    }
    .nav-top-list li a {
        font-size: 12px;
        letter-spacing: -.152px;
        padding: 8px;
    }
    .tabs-wrapper {
        margin-top: 20px;
    }
    .white-card-nav {
        background-color: transparent;
        padding: 1rem 0rem;
        padding-bottom: 0px;
    }
    .nav-top-list li {
        margin: 0px;
        margin-bottom: 10px;
    }
    .bussiness-information-content .subtitle{
        font-size: 13px !important;
    }
    .bussiness-information-content .title {
        font-size: 20px !important;
        margin-bottom: 5px !important;
    }
    .nav-top-list {
        gap: 14px;
    }
    .nav-top {
        gap: 0px;
    }
    .cards-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    .market-card-holder .key {
        font-size: 11px;
        letter-spacing: -0.11px;
    }
    .page-titles {
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0.1px;
    }    
    .page-titles .brr {
        margin-top: 10px;
    }
    .header__main {
        height: 88px;
    }
    .b-info-card .title_small,.c-profile-card .title_small,.c-profile-card .title a {
        font-size: 0.80rem;
    }
    .b-info-card .text-info {
        font-size: 13px;
    }
    .c-profile-card .key {
        font-size: 11px;
    }
    .c-profile-card .value {
        font-size: 13px;
    }
    .table-wrapper {
        max-width: 100%;
    }
    .table-wrapper .table .row-head .cell {
        font-size: 14px;
        min-width: 153px;
    }
    .table-wrapper .table  .cell {
        font-size: 13px;
    }
    .graph-header {
        justify-content: space-between;
    }
    .graph-header  .custom-drop-down {
        top: 32px;
    }
    .hide-mobile{
        display: none;
    }
}