@import "../../vendor/wire-elements/pro/resources/css/tailwind/overlay-component.css";
@import "../../vendor/wire-elements/pro/resources/css/tailwind/spotlight-component.css";
@import '../../node_modules/flowbite-datepicker/tailwind.css';
@import '../../node_modules/sweetalert2/dist/sweetalert2.css';
@import 'css-tables.css';
@import "company-profile.css";
@import "company-report.css";
@import "flowbite-select-custom.css";
@import "common-styles.css";
@import "navigation_subtabs.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip-caret:before {
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;

    border-top: solid 17px #fff;
    border-left: solid 12px transparent;
    border-right: solid 12px transparent;
    border-bottom-right-radius: 50px;
    left: calc(50% - 12px);

    bottom: -17px;
}


