.company-profile-loading {
    min-height: 100vh;
    min-height: calc(100vh - 20vw);
}

.page-titles .text-color-green {
    color: #13B05B;
    font-weight: 500;
    font-size: 16px;
}

.page-titles {
    font-size: inherit;
    vertical-align: middle;
}

.page-titles small {
    font-size: 0.66em;
    line-height: 2.25em;
    height: 2.25em;
    margin: 0;
    vertical-align: middle;
}

.tabs-wrapper {
    font-size: 14px;
    border-radius: 0.25em;
    border: 1px solid #D4DDD7;
    padding: 0.28em;
    width: 100%;
    margin: 0.7em 0px 1.4em 0px !important;
    background: white;
}

.tab {
    height: 2.5em;
    min-width: 14.375em;
    color: #828C85;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
}

.tab.active {
    background-color: #52D3A2;
    color: #121A0F;
}

.cards-wrapper {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.white-card {
    font-size: 0.5em;
    padding: 1rem;
    background: white;
    border-radius: 0.666em;
}

.white-card .title {
    color: #3561E7;
    font-weight: 600;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.white-card .key-values-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 16px;
}

.white-card .key {
    color: #464E49;
    font-weight: 400;
}

.white-card .value {
    color: #121A0F;
    font-size: 1.166em;
    font-weight: 600;
}

#business-information .key-values-wrapper > .key-value {
    margin-left: 47px;
}

.key-values-wrapper__item {
    margin-right: 1rem;
    display: flex;
    gap: 15px;
}

.key-values-wrapper__item > div:first-child {
    background: #52D3A233;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    display: flex;
}

.key-values-wrapper__item > div svg {
    display: block;
    margin: auto;
}

.cards-wrapper.wide-cards-wrapper {
    grid-template-columns: 1fr;
}

.wide-cards-wrapper .key-values-wrapper {
    grid-template-columns: repeat(6, auto);
}

.white-card a {
    color: #52D3A2;
    font-weight: 500;
}

.white-card .text {
    font-size: 1.17em;
    color: #121A0F;
}

.title-spoiler {
    color: #121A0F;
    font-size: 0.85em;
    font-weight: 600;
}

.graph-wrapper-box {
    margin-top: 24px;
}

.graph-wrapper {
    background: white;
    font-size: 0.5em;
    border-radius: 0.666em;
    padding: 24px;
    width: 100%;
}

.graph-header {
    display: flex;

}
.company-profile-page .graph-header {
    white-space: nowrap;
}

.company-profile-page .select-graph-date-wrapper {
    color: #828C85;
}
.soft-radio-wrapper input[type=radio] + * {
    color: #828C85;
    cursor: pointer;
}
.soft-radio-wrapper input[type=radio]:checked + * {
    color: #121A0F;
}
.soft-radio-wrapper input[type=radio] {
    visibility: hidden;
    position: relative;
}

.soft-radio-wrapper input[type=radio]:before {
    visibility: visible;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 99px;
    border: 2px solid #828C85;
    cursor: pointer;
}
.soft-radio-wrapper input[type=radio]:checked:before {
    border-color: #121A0F;
}

.soft-radio-wrapper input[type=radio]:after {
    visibility: visible;
    content: '';
    display: block;
    position: absolute;
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
    border-radius: 99px;
    background: #121A0F;
    opacity: 0;
    transition: 0.3s ease all;
}

.big-checked input[type=radio]:after {
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
}

.soft-radio-wrapper input[type=radio]:checked:after {
    opacity: 1;
}

.company-profile-page .date-range-select-wrapper {
    border: 2px solid #F3F3F3;
    border-radius: 0.66em;
}

.company-profile-page .date-range-select-wrapper > div:not(:last-child) {
    border-right: 2px solid #F3F3F3;
}

.company-profile-page .date-range-select-wrapper .value {
    color: #121A0F;
    font-weight: normal;
    font-size: 0.70rem;
    height: 1em;
    -webkit-appearance: none;
    border: none;
    padding:0;
    margin: 0;
}
.company-profile-page .date-range-select-wrapper input {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.company-profile-page .date-range-select-wrapper .icon-wrapper svg {
    width: 2em;
}

.company-profile-page .date-range-select-wrapper .from-wrapper,
.company-profile-page .date-range-select-wrapper .to-wrapper {
    cursor: pointer;
    width: 136px !important;
    padding: 0.25rem 0.25rem 1rem 1rem;
}

@media (max-width: 1600px) {
    .cards-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
    .wide-cards-wrapper .key-values-wrapper {
        grid-template-columns: repeat(3, auto);
    }
}

@media(min-width: 1690px) {
    .company-profile-page {
        font-size: 1.4vw;  /* base size */
    }
}

.company-name {
    color: #121A0F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
