.company-profile-loading {
    min-height: 100vh;
    min-height: calc(100vh - 20vw);
}

.page-titles .text-color-green {
    color: #13B05B;
    font-weight: 500;
    font-size: 0.875rem;
}

.page-titles {
    font-size: inherit;
    vertical-align: middle;
}

.page-titles small {
    font-size: 0.66em;
    line-height: 2.25em;
    height: 2.25em;
    margin: 0;
    vertical-align: middle;
}

.tabs-wrapper {
    font-size: 14px;
    border-radius: 0.25em;
    border: 1px solid #D4DDD7;
    padding: 0.28em;
    width: 100%;
    background: white;
}

.tab {
    height: 2.5em;
    min-width: 14.375em;
    color: #828C85;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
}

.tab.active {
    background-color: #52D3A2;
    color: #121A0F;
}

.cards-wrapper {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.white-card {
    font-size: 0.5em;
    padding: 1rem;
    background: white;
    border-radius: 0.666em;
}

.white-card .title {
    color: #3561E7;
    font-weight: 600;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.white-card .key {
    color: #464E49;
    font-weight: 400;
}

.white-card .value {
    color: #121A0F;
    font-size: 1.166em;
    font-weight: 600;
}

.cards-wrapper.wide-cards-wrapper {
    grid-template-columns: 1fr;
}

.white-card a {
    color: #52D3A2;
    font-weight: 500;
}

.white-card .text {
    font-size: 1.17em;
    color: #121A0F;
}
.graph-header {
    display: flex;

}
.company-profile-page .graph-header {
    white-space: nowrap;
}

.company-profile-page .select-graph-date-wrapper {
    color: #828C85;
}
.soft-radio-wrapper input[type=radio] + * {
    color: #828C85;
    cursor: pointer;
}
.soft-radio-wrapper input[type=radio]:checked + * {
    color: #121A0F;
}
.soft-radio-wrapper input[type=radio] {
    visibility: hidden;
    position: relative;
}

.soft-radio-wrapper input[type=radio]:before {
    visibility: visible;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 99px;
    border: 2px solid #828C85;
    cursor: pointer;
}
.soft-radio-wrapper input[type=radio]:checked:before {
    border-color: #121A0F;
}

.soft-radio-wrapper input[type=radio]:after {
    visibility: visible;
    content: '';
    display: block;
    position: absolute;
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
    border-radius: 99px;
    background: #121A0F;
    opacity: 0;
    transition: 0.3s ease all;
}

.big-checked input[type=radio]:after {
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
}

.soft-radio-wrapper input[type=radio]:checked:after {
    opacity: 1;
}

@media (max-width: 1600px) {
    .cards-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

.company-name {
    color: #121A0F;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
