.table-wrapper {
    width: 100%;
    max-width: calc(100vw - 8rem);
    overflow-x: auto;
    font-size: 0.5em;
    margin-top: 24px;
}
.table-wrapper .table {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-radius: 0.66em;
    overflow: hidden;
}

.table-wrapper .table .row {display: table-row;}
.table-wrapper .table .cell {
    display: table-cell;
    background: white;
    /*font-weight: bold;*/
    padding: 0.5rem 0.625rem;
    /*border-top: 1px solid #e6e6e6;*/
    /*border-bottom: 1px solid #e6e6e6;*/
    font-size:14px;
    text-align: center;
    vertical-align: middle;
    padding: 16px 10px;
}
.table-wrapper .table .row-group .row:first-child .cell { border-top: none; }
.table-wrapper .row-head .cell {background: #e5e5e5;}
.table-wrapper .cell {
    text-align: right;
}
.table-wrapper .cell:first-child {
    text-align: left;
}

.table-wrapper .row-sub .cell {
    border-top: none;
    border-bottom: none;
    font-weight: normal;
}

.table-wrapper .row-sub .cell:first-child {
    padding-left: 2.3em;
}

.table-wrapper .row-group {
    display: table-row-group;
    border-radius: 0.66em;
    overflow: hidden;
}

.table-wrapper .row-group .row:first-child {
    border-top-left-radius: 0.66em;
    border-top-right-radius: 0.66em;
    overflow: hidden;
}

.table-wrapper .row-spacer {
    height:24px;
    background: transparent;
}

.table-wrapper .row-group .row:first-of-type .cell:first-of-type {
    border-top-left-radius: 0.66em;
}

.table-wrapper .row-group .row:first-of-type .cell:last-of-type {
    border-top-right-radius: 0.66em;
}

.table-wrapper .row-group .row:last-of-type .cell:first-of-type {
    border-bottom-left-radius: 0.66em;
}

.table-wrapper .row-group .row:last-of-type .cell:last-of-type {
    border-bottom-right-radius: 0.66em;
}

.table-wrapper .table .row-group-blue {
    padding: 0.5em;
}
.table-wrapper .table .row-group-blue .cell {
    background: rgba(82, 198, 255, 0.10);
}
.table-wrapper .table .row-group-blue .row-sub .cell:not(:first-of-type) {
    font-weight: bold;
}

.row-spoiler {
    cursor: pointer;
}
.row-spoiler .cell:first-child {
    position: relative;
}

.row-spoiler .cell:first-child:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    background-image: url('data:image/svg+xml,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M14.66 8A6.68 6.68 0 0 0 1.33 8a6.68 6.68 0 0 0 13.33 0ZM7.64 9.86 5.3 7.51a.5.5 0 0 1-.15-.36.5.5 0 0 1 .15-.35c.2-.2.51-.2.7 0l2 2 2-2c.2-.2.52-.2.71 0 .2.2.2.51 0 .7L8.35 9.87a.5.5 0 0 1-.7 0Z" fill="%232F88FF"/></svg>');
    /*width: 1.2em;*/
    height: 1.2em;
    transition: 0.3s ease all;
}
.row-spoiler.active .cell:first-child:after {
    transform: translateY(-50%);
}

.table-wrapper .row-group-spoiler {
    display: none;
}

.row-spoiler.active + .row-group-spoiler {
    display: table-row-group;
}
.dots-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    top: 7px;
    pointer-events: none;
}

.dots-wrapper .active-dots {
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 5px;
    display: inline-block;
}

.dots-wrapper .inactive-dots {
    width: 10px;
    height: 10px;
    background: #D1D3D5;
    border-radius: 5px;
    display: inline-block;
}

