.dots-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    top: 7px;
    pointer-events: none;
}

.dots-wrapper .active-dots {
    width: 10px;
    height: 10px;
    background: #464E49;
    border-radius: 5px;
    display: inline-block;
}

.dots-wrapper .inactive-dots {
    width: 10px;
    height: 10px;
    background: #D4DDD7;
    border-radius: 5px;
    display: inline-block;
}

